#detailPanel pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
}
#detailPanel .json-key {
   color: brown;
}
#detailPanel .json-value {
   color: navy;
}
#detailPanel .json-string {
   color: olive;
}

/**
 * Tree Menu Style Sheet
 */
.no-icon {
   display : none;
   background-image:url('ext/resources/images/default/s.gif') !important;
}
.parent-node {
   padding-top: 5px;
}
.last-children {
   padding-bottom: 5px;
}
.last-children-10 {
   padding-bottom: 10px;
}
.last-children-20 {
   padding-bottom: 20px;
}
span.x-tree-node-text {
   cursor: pointer;
}
td.view span.x-tree-node-text {
	margin-left: 15px;	
}
img.x-tree-elbow-img {
	width: 0px;
	height: 0px;
}